<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductInteraction" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ProductInteraction" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductInteraction" contract="ProductService.IProductInteraction" name="BasicHttpBinding_IProductInteraction" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>