<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Castle.Core" version="4.4.0" targetFramework="net461" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net461" />
  <package id="Controls4Industry" version="3.0.0-dev.15" targetFramework="net461" />
  <package id="Moryx" version="3.0.0-dev.26" targetFramework="net461" />
  <package id="Moryx.ClientFramework" version="3.0.0-dev.15" targetFramework="net461" />
  <package id="Moryx.Controls" version="3.0.0-dev.15" targetFramework="net461" />
  <package id="Moryx.Tools.Wcf" version="3.0.0-dev.26" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>